.visible {
    visibility: visible;
}
body {
    background-color: #606365;
}
.activo {
    color: #fed136 !important;
}
#titulo_edmodo {
    color: white;
    font-style: bold;
    font-size: 20px;
}
#btn_sesion {
    background-color: #ffffff;
}
#input_busqueda {
    color: white;
}
#fila_nav {
    background-color: #212529;
    padding: 7px;
    left: 0px;
    max-width: 1344px;
    border-radius: 1px 5px 2px 1px;
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
#myNavbar1 {
    background-color: white;
}
#foto_perfil {
    margin: 10px;
}
#perfil {
    border-radius: 6px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
#usuario {
    margin-right: 10px;
}
header {
    overflow: initial;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0px;
}
#nav_principal {}
.img_small {
    height: 30;
    width: 30;
}
.img_center {
    display: block;
    margin: auto;
}
.img_medium {
    height: 50;
    width: 50;
}
.img_big {
    height: 70;
    width: 70;
}
.img_logo {
    padding: 10px;
    width: 190px;
}
#publicacion {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.ancho_auto {
    width: 95%;
}
.largo_auto {
    height: 100%;
}
#social {
    margin: 5px;
    border-radius: 5px;
    border-color: black;
    border-style: ridge;
    border-width: 1px;
}
.img_post {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 500;
    width: 450;
}
#input_comment {
    font-family: monospace;
    font-style: normal;
    font-size: 12px;
    padding: 2px;
    border-radius: 5px;
    margin: 3px;
}
#publicar {
    background-color: white;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #2b374d;
}
#main {
    margin-top: 9px;
}
#txt_post {
    padding: 5px;
    margin: 2px;
    align-content: center;
    background-color: #6A1B9A;
    border-radius: 0px 0px 8px 8px;
}
#txt_area_post {
    border-radius: 0px 13px 8px 8px;
}
#name_user_publicar {
    margin: 8px, 8px, 8px, 8px;
    padding: 8px 8px 8px 8px;
    color: white;
}
#btn_send {
    position: absolute;
    background-color: #6A1B9A;
    font-size: 36px;
}
#name_user_post {
    color: #2b374d;
    font-size: 17px;
    font-style: bold;
    text-align: center;
    padding: 10px;
}
#name_user_posts {
    color: #2b374d;
    font-size: 14px;
    font-style: bold;
}
#img_logo {
    width: 70px;
    height: 50px;
}
#post_btn_insert {
    background-color: #2b374d;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}
#barra_user {
    background-color: white;
}
.body_fondo {
    background-image: url("fondo.png");
}
.btn_nav {
    color: white;
    font-size: 16px;
    font-style: bold;
}
#navegador {
    background-color: red;
}
#name_sms {
    padding: 5px;
    margin: 3px;
    font-style: none;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 13px;
    border-color: cyan;
    border-width: 1px;
    border-style: solid;
    color: white;
    background-color: #2b374d;
    border-radius: 5px;
}
#sms {
    margin: 3px;
    color: black;
    background-color: white;
    border-radius: 3px;
}
#head_sms {
    padding: 5px;
    margin: 0px;
}
.span2 {
    background-color: red;
}
.ul2 {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    margin: 5px;
    padding: 5px;
    border-radius: 0px 10px 10px 10px;
}
#form_search {}
#head_post {
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
#mas_posted {
    margin: 1px;
}
#head_post>a {
    color: #1976D2;
    padding: 3px;
}
#carga_files {
    padding: 0px;
    margin: 5px;
}
#postear {
    background-color: white;
    color: black;
}
#posts {
    margin: 7px;
    padding: 5px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
#btn_buscar {
    background-color: #fed136;
    color: white;
}
#btn_send_publicacion {
    background-color: #E64A19;
    color: white;
}
.menu-bar {
    display: none;
}
#fila_nav ul {
    display: flex;
}
#fila_nav ul li {
    list-style: none;
    float: left;
    display: flex;
    align-items: center;
}
#fila_nav ul li a:hover {
    color: #fed136;
}
#fila_nav ul li .mensaje {
    display: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}
#fila_nav ul li .mensaje ul {
    padding: 1px;
    margin: 5px;
}
#fila_nav ul li .mensaje ul li {
    padding: 1px;
    margin: 5px;
}
#fila_nav ul li .mensaje ul li a {
    color: black !important;
    font-size: 12px;
    padding: 5px;
    display: block;
}
#fila_nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    padding: 8px;
}
.span_w {
    margin-right: 9px;
}
.rigth_navbar {
    float: right;
}
@media screen and (max-width: 960px) {
    #container_perfil {
        z-index: 1;
    }
    #container_posts {
        z-index: 1;
    }
    #footer_w {
        z-index: 2;
    }
    #btn_buscar {
        width: 100%;
    }
    #fila_nav {
        top: 60px;
        width: 80%;
        height: 100%;
        margin: 0px;
        position: fixed;
        z-index: 2;
    }
    #fila_nav ul {
        display: block;
    }
    #fila_nav div {
        width: 100%;
    }
    #form_search {
        width: 100%;
    }
    #fila_nav ul li {
        float: inherit;
        width: 100%;
    }
    #fila_nav ul li a {
        width: 100%;
    }
    .menu-bar {
        top: 0px;
        display: block;
        width: 100%;
        position: fixed;
        z-index: 2;
        font-family: 'Nanum Gothic', sans-serif;
        background-color: #212529;
        color: white;
    }
    .menu-bar .bt-menu {
        color: white;
        display: block;
        padding: 20px;
        text-decoration: none;
        font-weight: bold;
    }
}
.menu-bar .bt-menu span {
    float: right;
}
#container_perfil {
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    border-radius: 5px;
}
#container_posts {
    overflow: hidden;
    margin: 20px;
    border-radius: 5px;
    border-color: green red yellow;
    background-color: white;
}
#conatiner_posts_2 {
    width: calc(100% + 30px);
    overflow-y: scroll;
}
#footer_w {
    height: 200px;
    background-color: black;
    color: white;
    padding: 30px;
    font-family: 'Oswald';
    z-index: 1;
}
#datepicker {
    margin: 7px;
    padding: 6px;
}
.btn_curso {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    align-items: center;
}
#btn_calendario {}