.visible {
    visibility: visible;
}
#titulo_edmodo {
    color: white;
    font-style: bold;
    font-size: 20px;
}
#btn_sesion {}
#input_busqueda {
    color: white;
}
#fila_nav {
    background-color: #202931;
    border-radius: 5px;
    padding: 8px;
}
#foto_perfil {
    margin: 10px;
}
#perfil {
    background-color: #202931;
    border-radius: 8px;
    border-bottom-style: groove;
}
#usuario {
    margin-right: 10px;
}
#nav_principal {
    border-radius: 10px;
    border-style: ridge;
}
.img_small {
    height: 30;
    width: 30;
}
.img_center {
    display: block;
    margin: auto;
}
.img_medium {
    height: 50;
    width: 50;
}
.img_big {
    height: 70;
    width: 70;
}
#publicacion {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.ancho_auto {
    width: 95%;
}
.largo_auto {
    height: 100%;
}
#social {
    margin: 5px;
    border-radius: 5px;
    border-color: black;
    border-style: ridge;
    border-width: 1px;
}
.img_post {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 500;
    width: 450;
}
#input_comment {
    font-family: monospace;
    font-style: normal;
    font-size: 12px;
    padding: 2px;
    border-radius: 5px;
    margin: 3px;
}
#publicar {
    background-color: white;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #404040;
}
#main {
    margin-top: 9px;
}
#div_txtarea_post {
    height: 140px;
    padding: 0px;
    margin: 2px;
    background-color: #202931;
    border-radius: 0px 0px 8px 8px;
}
#txt_area_post {
    width: 100%;
    margin: 1px;
    padding: 7px;
    height: 6em;
    border-radius: 0px 0px 8px 8px;
}
#name_user_publicar {
    margin: 8px, 8px, 8px, 8px;
    padding: 8px 8px 8px 8px;
    color: white;
}
#btn_send {
    position: absolute;
    font-size: 36px;
}
#name_user_post {
    color: #202931;
    font-size: 17px;
    font-style: bold;
    text-align: center;
    padding: 10px;
}
#name_user_posts {
    color: #202931;
    font-size: 14px;
    font-style: bold;
}
#img_logo {
    width: 70px;
    height: 50px;
}
#post_btn_insert {
    background-color: #202931;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}
#barra_user {
    background-color: white;
}