.header-filter::before {
    background-color: rgb(0, 0, 0, 0) !important;
    background-image: url(../img/estudiante.png);
}
.components-page .page-header::after {
    background: white;
    background: linear-gradient(white);
    background: -moz-linear-gradient(white);
    background: -webkit-linear-gradient(white);
}
html {
    font-size: 16px;
}
.section {
    padding: 10px;
}