 .components-page .page-header::after {
     background: initial;
 }
 pre.prettyprint {
     background-color: #eee;
     border: 0px;
     margin-bottom: 60px;
     margin-top: 30px;
     padding: 20px;
     text-align: left;
 }
 .str {
     color: #05AE0E;
 }
 .tag, .pln, .kwd {
     color: #3472F7;
 }
 .atn {
     color: #2C93FF;
 }
 .pln {
     color: #333;
 }
 .com {
     color: #999;
 }
 .space-top {
     margin-top: 50px;
 }
 .area-line {
     border: 1px solid #999;
     border-left: 0;
     border-right: 0;
     color: #666;
     display: block;
     margin-top: 20px;
     padding: 8px 0;
     text-align: center;
 }
 .area-line a {
     /*color: #666;*/
 }
 .container-fluid {
     padding-right: 15px;
     padding-left: 15px;
 }
 .table-shopping .td-name {
     min-width: 130px;
 }
 .pick-class-label {
     border-radius: 8px;
     border: 1px solid #999;
     cursor: pointer;
     display: inline-block;
     font-size: 75%;
     font-weight: bold;
     line-height: 1;
     margin-right: 10px;
     padding: 23px;
     text-align: center;
     vertical-align: baseline;
     white-space: nowrap;
 }
 #social {
     background-color: black;
     opacity: 0.5;
 }
 .navbar.navbar-inverse {
     background-color: #2a5d84 !important;
     /*background-image: linear-gradient(to right, #18082c, #4f408a, #18082c) !important;*/
 }
 .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
     background-color: #2a5d84;
     /*#212529*/
     box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px yellow;
 }
 .media p {
     /* color: white;*/
     color: #49476c;
     font-size: 13px;
 }
 .img_small {
     width: 44px !important;
     height: 44px !important;
 }
 .btn.btn-primary.btn-simple, .navbar .navbar-nav>li>a.btn.btn-primary.btn-simple {
     color: #4d67db;
 }
 p {
     /* color: white;*/
 }
 .dialog_cambiar_foto {
     width: 300px;
     float: right;
 }
 .ver_centrado {
     display: initial;
 }
 .btn_cerrar {
     color: red !important;
 }
 #publicaciones {
     overflow: hidden;
     margin: 0px 15px;
     height: 40%;
     /*  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(33, 33, 33, 0.46);*/
 }
 #container_posts {}
 #conatiner_posts_2 {
     height: 600px;
     padding: 10px;
     width: calc(100% + 20px);
     overflow-y: scroll !important;
 }
 .navbar {
     margin-bottom: 5px;
 }
 .img_peque {
     width: 50px;
     height: 50px;
     padding: 1px;
     margin: 1px;
 }
 .grad_right {
     background-image: linear-gradient(to right, #3c3265, #4f408a);
 }
 .grad_navbar {
     background-image: linear-gradient(to right, #18082c, #18082c, #18082c);
 }
 .grad_left {
     background-image: linear-gradient(to left, #3c3265, #4f408a);
 }
 body {
     /*background-image: linear-gradient(to left, #23292f, #404851, #404851, #23292f);*/
 }
 .borde_w {
     border-bottom: 5PX #2a5d84 solid;
     height: 100%;
     padding: 9px;
 }
 .tittle {
     /*color: white !important;*/
 }
 .h3 {
     /* color: white;*/
 }
 .h4 {
     /* color: white !important;*/
 }
 .blanco tr td a {
     /*color: white;*/
 }
 .blanco tr td a:hover {
     color: red;
 }
 .blanco ul li a {
     margin-left: 10px;
     color: black;
     /* color: white;*/
 }
 .blanco ul li a:hover {
     /*color: yellow;*/
 }
 .negro_trans {
     opacity: 0.4;
 }
 .negro {
     background-color: black;
     /*color: white;*/
     z-index: 5;
     opacity: 1!important;
 }
 #publicaciones {
     /* background-color: #23292f;*/
 }
 .transicio_w {}
 .card-background::after, .back-background::after, .front-background::after {
     background-color: rgba(0, 0, 0, 0);
 }
 .rotating-card-container .card .back.back-background::after {
     background-color: rgba(0, 0, 0, 0);
 }
 .borde {
     margin: 5px 6px;
     background-color: #23292f;
     padding: 9px;
 }
 .sms_conversacion {
     text-align: right;
     width: inherit;
     border-radius: 15px 0px 15px 15px;
     padding: 10px;
 }
 .sms_conversacion_yo {
     width: auto;
     border-radius: 0px 15px 15px 15px;
     padding: 10px
 }
 .modal-dialog {
     width: 350px;
 }
 .border_input {
     width: 100%;
     border-radius: 5px !important;
     padding: 6px !important;
     border-color: #e91e63 !important;
     border-style: solid !important;
     border-width: 1px !important;
 }
 @media screen and (max-width: 992px) {
     #div_body {
         height: initial!important;
     }
     .modal-dialog {
         width: 300px;
     }
 }
 @media screen and (max-width: 314px) {
     .modal-dialog {
         width: 250px;
     }
 }
 .input_calificar {
     width: 40px;
     border-bottom: purple solid 1px;
     color: black;
     font-size: 12px;
 }
 .borde_azul {
     border-bottom: 5PX #2a5d84 solid;
 }
 .borde_costado {
     border-right: solid gray 1px;
     padding: 34px;
 }
 #sms_1 {
     padding: 15px;
 }
 .bootstrap-datetimepicker-widget.dropdown-menu.bottom {
     top: 26px! important;
 }